<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content">
  <br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <div class="ion-text-center">
    <h2>Bienvenido a My Cinema</h2>
  </div>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <div>
    <ion-button expand="block">Crear tu cuenta</ion-button>
    <br/>
    <ion-button expand="block">Iniciar sesion</ion-button>
  </div>

</ion-content>
