<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Lista de peliculas
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>

    <ion-item>
      <ion-label>Elige una categoria para filtrar</ion-label>
      <ion-select [(ngModel)]="c">
        <ion-select-option *ngFor="let ca of categoriasDisp" value="{{ ca }}">{{ca}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button (click)="abrirmodalFiltro()">Filtrar</ion-button>

    <ion-list>
      <ion-card *ngFor="let pelicula of peliculas">
        <ion-card-header>
          <ion-card-title><strong>{{pelicula['titulo']}}</strong></ion-card-title>
          <ion-card-subtitle><strong>Categoria : {{pelicula['categoria']}}</strong></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-button size="small" (click)="abrirmodalSala(pelicula)">Comprar entrada</ion-button>
          <ion-button size="small" (click)="abrirmodalComentarios(pelicula)">Ver comentarios</ion-button>
          <ion-button size="small" (click)="abrirmodalDatos(pelicula)">Ver datos</ion-button>
        </ion-card-content>
        </ion-card>
    </ion-list>
  
  </ion-content>
  